.contact{
    background-color: #221F3B;
    padding: 20px 0px;
}

.heading{
    padding-top: 20px;
}

.contact_form{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profession_contact{
    color: #FFFFFF;
    font-size: 16px;
}

.social_media_style{
    border: 1px solid   #FFFFFF;
    padding: 10px;
    border-radius: 20%;
    display: inline;
    margin: auto;
}

.social_media{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.message{
  min-width: 300px;
}

.profession_contact{
  min-width: 300px;
}


@media screen and (max-width: 600px) {
  .message{
    margin: auto;
  }
}