.hero_section {
  width: 100%;
  height: 100vh;
  position: absolute;
}




.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
  
}

.greetings{
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
display: inline;
}

.waving_hand{
  display: inline;
  font-size: 40px;
  animation: waving-hand .5s infinite;
}

@keyframes waving-hand {
  /* 0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(14deg);
  }
  20%{
    transform: rotate(-8deg);
  }
  30%{
    transform: rotate(14deg);
  }
  40%{
    transform: rotate(-4deg);
  }
  50%{
    transform: rotate(10deg);
  }
  60%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  } */
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

.name{
  
font-family: 'Doppio One';
font-style: normal;
font-weight: 800;
font-size: 70px;
letter-spacing: 0.2em;
color: #FFFFFF;

}

.role{
  font-family: 'Teko';
font-style: normal;
font-weight: 400;
font-size: 24px;
margin: auto;
letter-spacing: 0.1em;
color: #FFFFFF;
margin-left: 100px;
}

@media screen and (max-width: 600px) {
  .hero_section {
    height: 90vh;
  }

  .role{
    margin: auto;
    padding: 0px;
  }
}
