.hero_section {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.navbar {
  display: flex;
  margin-left: 40vw;
  justify-content: space-evenly;
  position: relative;
  top: 0px;
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 69px;
  letter-spacing: 0.1em;
  color: #ffffff;
}


.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
  
}

.greetings{
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
}

.name{
  
font-family: 'Doppio One';
font-style: normal;
font-weight: 800;
font-size: 70px;
letter-spacing: 0.2em;
color: #FFFFFF;

}

.role{
  font-family: 'Teko';
font-style: normal;
font-weight: 400;
font-size: 24px;
margin: auto;
letter-spacing: 0.1em;
color: #FFFFFF;
margin-left: 100px;
}