.cards{
    margin-top: 50px;
}
.site_button{
padding: 4px 0px;
width: 60%;
  display: inline;
  border-radius: 50px;
  color: #FFFFFF;
  font-weight: 400;
font-size: 24px;
letter-spacing: 0.1em;
display: flex;
justify-content: space-around;
margin: auto;
background-color:#6F4A8E ;
}

.github_icon{
    width: 25px;
}

.project_name{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    margin-top: -20px;
}