.projects_section{
    margin-top: 70px;
    padding-top: 30px;
    background-color: 	#F0F0F0;
    padding-bottom: 70px;
}

.card_group{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .desktop_view{
        display: none;
    }

  }

  @media screen and (min-width: 600px) {
    .mobile_view{
        display: none;
    }


  }
  